<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.10.1/js/all.js"></script>

    <title>Test</title>
</head>
<body>
    <div id="root">
        <nav class="navbar has-shadow is-spaced">
            <div class="container">
                <div class="navbar-brand">
                    <h1 class="navbar-item">
                        Destination Tapas
                    </h1>
                    <div class="navbar-burger" aria-label="menu" aria-expanded="false">
                        <span aria-expanded="true"></span>
                        <span aria-expanded="true"></span>
                        <span aria-expanded="true"></span>
                    </div>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>
                            <span>Profil</span>
                        </a>
                        <a class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-glass-cheers"></i>
                            </span>
                            <span>Soirée</span>
                        </a>
                        <a class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-address-book"></i>
                            </span>
                            <span>Amis</span>
                        </a>
                        <a class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-pizza-slice"></i>
                            </span>
                            <span>Carte</span>
                        </a>
                    </div>
                    <div class="navbar-end">
                        <a class="navbar-item">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span>Se déconnecter</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>


        <section class="section">
            <div class="container">
                <hr />
                    <h1 class="title is-4 has-text-centered">Vos soirées</h1>
                <hr />

                <section class="section">
                <div class="container">
                    <a class="button is-link is-rounded is-focused">Commencer une nouvelle soirée</a>
                </div>
                </section>

                <div class="box">
                    <div class="columns is-mobile">
                        <div class="column">
                            <strong>31/12/2019</strong>
                            <br />
                            En cours
                        </div>
                        <div class="column has-text-right">
                            Total : 380€
                            <br />
                            17
                            <i class="fas fa-user"></i>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="columns is-mobile">
                        <div class="column">
                            <strong>06/12/2019</strong>
                            <br />
                            En cours
                        </div>
                        <div class="column has-text-right">
                            Total : 130€
                            <br />
                            8
                            <i class="fas fa-user"></i>
                        </div>
                    </div>
                    <div class="notification is-warning">
                        Cette soirée semble être terminée
                    </div>
                </div>

                <div class="box">
                    <div class="columns is-mobile">
                        <div class="column">
                            <strong>02/07/2019</strong>
                            <br />
                            Terminée
                        </div>
                        <div class="column has-text-right">
                            Total : 70€
                            <br />
                            3
                            <i class="fas fa-user"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Destination Tapas</strong> par <strong>Florent HUGOUVIEUX</strong>.
                    Le code source est sous la licence <a href={"https://www.apache.org/licenses/LICENSE-2.0.html"}>Apache 2</a>.
                </p>
            </div>
        </footer>
    </div>
</body>
</html>